p {
	font-family: 'Roboto', sans-serif;
	margin-top: 0;
	margin-bottom: 0px;
}

.video-title {
	font-weight: bold;
	font-size: 18px;
	width: 300px;
	line-height: 26px;
	margin-bottom: 5px;
}

.video-stats {
	font-size: 14px;
	color: rgb(96, 96, 96);
	margin-bottom: 20px;
}

.video-author {
	font-size: 14px;
	color: rgb(96, 96, 96);
	margin-bottom: 20px;
}

.video-description {
	font-size: 14px;
	color: rgb(96, 96, 96);
	width: 280px;
	line-height: 22px;
	margin-bottom: 100px;
}

.apple-text {
	margin-bottom: 50px;
	font-size: 14px;
	background-color: rgb(227, 65, 64);
	color: white;
	text-align: center;
	padding-block: 18px;
}

.shop-link {
	cursor: pointer;
}

.shop-link:hover {
	text-decoration: underline;
}