p {
	font-family: 'Roboto', monospace;
	margin-top: 0;
	margin-bottom: 0;
}
.thumbnail {
	width: 100%;
	display: block;
}
.search-bar {
	font-size: 20px;
	display: block;
}
.video-title {
	margin-top: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 12px;
}
.video-author, 
.video-stats {
	display: block;
	font-size: 12px;
	color: rgb(96, 96, 96);
	margin-bottom: 3px;
}
.video-info-grid {
	display: grid;
	grid-template-columns: 50px 1fr;
}
.profile-picture {
	width: 40px;
	border-radius: 50%;
}
.thumbnail-row {
	margin-bottom: 12px;
}
.video-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 16px;
	row-gap: 40px;
}